# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jars...
/src/java/WebApplication1/build/web/WEB-INF/lib
/src/java/WebApplication1/gson-2.8.0.jar
/src/java/WebApplication1/javax.servlet-3.0.0.jar


# etc
src/java/WebApplication1/web/index.html

src/java/WebApplication1/nbproject