/* width */
::-webkit-scrollbar {
    width: 10px;
  }

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4A5568; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2D3748; 
  }