.leaflet-container{
    border: 0px;
    border-radius: 10px;
    
    height: 90%;
    margin-top: 10px !important;
    margin-left: 0px !important;
    margin-right: 15px !important;
    width: 95%;

}

.leaflet-popup .leaflet-popup-content-wrapper{

    min-width: 200px;
    min-height: 200px;
    left: -100px !important;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background: #1a202c;
    color: white;
    box-shadow: 0 3px 14px #00000083;
}